.item{
    padding-top: 100px;
}

.item-img{
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    height: max-content;
    width: 100%;
    border: 1px solid #f5f5f5;
    padding: 15px;
    display: flex;
    align-items: center;
}

.item-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-wrap{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 80px;
}

.item-desc{
    margin-top: 20px;
}

.item-info .btn-primary{
    margin-right: 15px;
}

.item-info .btn{
    width: 206px;
    max-width: 100%;
    padding: 10px;
}

.item-desc__text{
    font-size: 18px;
}

.pagination{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group{
    margin-top: 15px;
    max-width: 430px;
}

.input-group button{
    color: #fff;
    width: auto!important;
    min-width: 150px;
}

.input-group input{
    height: 44px;
    border: none;
}

.item-desc__owner{
    font-size: 14px;
}

.item-desc__owner span{
    font-size: 20px;
}