.nft-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 100px;
}

.nft-item__headline{
    font-size: 20px;
    color: #fff;
}

.nft-item__link{
    display: block;
}

.nft-item__img{
    margin-top: 20px;
}