@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Rubik';
  color: #254cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  max-width: 60%;
  max-height: 100%;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;

}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

#title {
  padding-top: 32px;
}

#status {
  color:red;
}

h1{
    font-size: 34px;
    color: #fff;
}

h2{
    font-size: 30px;
    color: #fff;
}

ul {
    margin: 0;
}

.Minter h2{
    margin-bottom: 15px;
}

.Minter input{
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 8px;
}

.input-file{
    padding-left: 0!important;
    font-size: 20px!important;
}

.status{
    margin-top: 20px;
}

p{
    font-size: 24px;
    color: #fff;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 50px;
  line-height: 16px;
  color: #5fdd25;
}

#mintButton {
  margin-top: 40px;
  font-size: 26px;
  padding: 5px 15px;
}